/* this style will override style in defaut cocos */

/* plash screen will display gif loading file instead of splash image */
#splash {
    background: #171717 url(./loading.gif) no-repeat center;
    background-size: 20%;
}
/* disable loading progress */
.progress-bar {
    height: 0px;
    display: none;
}


@media screen and (orientation: landscape) {
      html {
        /* Rotate the content container */
        transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }